__pycache__
.env/
.venv/
env/
.vscode/
output/
config.ini
*.pyc
.DS_Store
*.egg-info/
dist/
build/
.output/
testing.ipynb
sandbox/
doc/boilerplate/temp
~*.xlsx
__pycache__
AzuriteConfig
__azurite_db_table__.json
web-ui/node_modules/
web-ui/dist/
web-ui/.cache/
web-ui/.env
web-ui/.vscode/
web-ui/.idea/
web-ui/.DS_Store
web-ui/.gitignore
web-ui/.eslintcache

backend/.env
pv.exe
pv.spec